@import "../../styles/mixins.scss";
.dsp-section {
  height: 100%;
  @include fontProperties(16px, 500, black);
  background-color: transparent;
  @include setSpaceBetween();
  gap: 20px;
  background-color: var(--bg);

  .dsps-right-menu {
    height: 100%;
    min-width: 70px;
    border-radius: 6px;
    background-color: var(--white);
    @include flexCenter();

  }
}
